.home {
    z-index: 0;
}
.displayFlex {
    display: flex;
}
.floatLeft {
    float: left;
    min-width: fit-content;
    justify-content: start;
}
.floatRight {
    float: right;
    width: 100%;
}
#hiThere {
    margin-bottom: 0px;
}
#name {
    font-size: 150px;
    margin-top: -40px;
    font-weight: bold;
    font-style: italic;
    color: #FF9B8E;
}
h3 {
    text-align: right;
    margin: 0px;
}

.circle {
    width: 350px;
    height: 350px;
    background-color: #F4F2C4;
    color: gray;
    font-weight: lighter;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    padding:5px;
    margin: 30px;
    font-size: 25px;
    text-decoration: none;
    display: flex;
}

.link {
    text-decoration: none;
}

.circle:hover {
    background-color: #faf5a1;
    color: rgb(70, 70, 70);
    font-weight: normal;
    font-size: 30px;
    border-style: dashed;
    border-color: rgb(70, 70, 70);
    border-width: 10px;
}