* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  font-weight: lighter;
}

h3 {
  font-weight: lighter;
  font-size: 30px;
}

.page {
  margin: 30px;
}

.textLeftAlign {
  text-align: left;
}

#fillerNavBar{
  height: 100px;
}

.NavBar {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  margin-top: -100px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100px;
  position: fixed;
  margin-left:-1px;
  width: calc(100vw);
  border-bottom: gray;
  border-width: 0 0 1px 0;
  border-style: solid;
  padding-top: 20px;
  z-index: 1;
  padding-left: 31px;
  padding-right: 30px;
}

.homeLogo {
  float: left;
  cursor: pointer;
  color: white;
}

.homeLogo:hover {
  font-weight: 800;
}

.navLinkGroup {
  float: right;
  display:flex;
}

.selectedClass {
  color: #FF9B8E !important;
}

.allnavlink {
  cursor: pointer;
  color: white;
}

.allnavlink:hover{
  font-weight: 800;
}

.navlinkbutend {
  margin-right: 20px;
  cursor: pointer;
}

.margin0 {
  margin: 0px;
}

.section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.inlineFlex {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button {
  border-radius: 5px;
  height: fit-content;
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
  margin: 5px;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
}

.primary {
  background-color: #ff6464;
  color: white;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.primary:hover {
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.4);
}

.white {
  background-color: white;
  color: black;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.1);
}

.white:hover {
  /* box-shadow: 1px 1px 4px 2px rgba(256, 256, 256, 0.7); */
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.3);
}

.displayInlineFlex {
  display: inline-flex;
}