p{
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 0;
}

.modal {
    width: fit-content;
    max-width: 90vw;
    max-height: 90vh;
    height: fit-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    color: black;
    border-width: 1px;
    border-color: gray;
    border-style: solid;
    text-align: left;
    padding: 20px;
    overflow-y: auto;
}

.title{
    margin: 0;
    font-size: 50px;
}

.description {
    margin-top: 0;
}

.mainImage {
    max-width: 100%;
    max-height: 100%;
    width: 500px;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
}

.x {
    /* align-items: right; */
    text-align: right;
    cursor: pointer;
}