#weatherAppTop{
    background-color: rgb(167, 123, 150);
}

.weatherApp h4 {
    color: rgb(255, 58, 117);
}

.weatherApp h5 {
    font-size: xx-large;
    font-weight: 300;
    color: rgb(255, 180, 202);
    margin-bottom: 0;
    margin-top: 40px;
}